 {% if latest_books_list %}
    <ul>
    {% for books in latest_books_list %}
        <li><a href="/libros/{{ books.id }}/">{{ books.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}